#
#
#
notifications:
  email: false

language: C
cache:
  ccache: true

matrix:
  fast_finish: true
  include:
    - name: linux-arm-gcc
      env: TOOLCHAIN=arm-gcc

addons: 
  apt:
    packages:
      - gcc-arm-none-eabi
      - clang
      - cmake

install:
  - wget https://developer.arm.com/-/media/Files/downloads/gnu-rm/8-2019q3/RC1.1/gcc-arm-none-eabi-8-2019-q3-update-linux.tar.bz2?revision=c34d758a-be0c-476e-a2de-af8c6e16a8a2?product=GNU%20Arm%20Embedded%20Toolchain,64-bit,,Linux,8-2019-q3-update -O /tmp/gcc-arm-none-eabi.tar.bz2
  - tar xvjf /tmp/gcc-arm-none-eabi.tar.bz2
  - export PATH=$PATH:${PWD}/gcc-arm-none-eabi-8-2019-q3-update/bin

before_script:
  - arm-none-eabi-gcc --version
  - cmake --version

script:
  - mkdir -p _dist/${TOOLCHAIN}
  - cd _dist/${TOOLCHAIN} && cmake -DCARROT_PORT_VENDOR=st -DCARROT_PORT_BOARD=nucleo-f103rb -DCARROT_PORT_COMPILER=${TOOLCHAIN} ../.. && make DVERBOSE=1


